certifi==2020.12.5
click @ file:///home/linux1/recipes/ci/click_1610990599742/work
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2 @ file:///home/linux1/recipes/ci/jinja2_1610990516718/work
joblib @ file:///tmp/build/80754af9/joblib_1607970656719/work
MarkupSafe==1.1.1
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy @ file:///C:/ci/numpy_and_numpy_base_1603466732592/work
pandas @ file:///C:/ci/pandas_1611171485393/work
python-dateutil==2.8.1
pytz @ file:///tmp/build/80754af9/pytz_1608922264688/work
scikit-learn @ file:///C:/ci/scikit-learn_1598377018496/work
scipy @ file:///C:/ci/scipy_1604596260408/work
six @ file:///C:/ci/six_1605187374963/work
sklearn==0.0
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
Werkzeug==1.0.1
wincertstore==0.2
